<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
      <!--用于升级程序的服务器IP -->
      <add key="UpdateUrl" value="127.0.0.1"/>
      <!--用于升级程序的服务器请求端口 -->
      <add key="UpdatePort" value="4540"/>
    </appSettings>
</configuration>
